:root {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Material Icons styles...

Sizing*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-80 { font-size: 80px; }
.material-icons.md-120 { font-size: 120px; }

/* Color */
.material-icons.orange400 { color: #FB8C00; }
.material-icons.blue400 { color: #5593f0; }
.material-icons.green400 { color: #39a042; }
.material-icons.yellow400 { color: #c79c26; }
.material-icons.purple400 { color: #923ada; }

/* Tailwind implementation/configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;
